{{#if accounts}}
<h1>Accounts</h1>
<ul class="accounts">
  {{#each accounts}}
  <div class="account">
    <div class="account-title">
      <a href="account/show/{{id}}">{{ name }}</a>
      <span href="">{{ type }}</span>
      <span href="">x-{{ lastFour }}</span>
      <span href="">${{ balance }}</span>
    </div>
  </div>
  {{/each}}
</ul>
{{/if}}