{{#if accounts}}
<h3>Accounts</h3>

{{#each accounts}}
<div class="grid-container">
  <div class="grid-item"><a href="account/{{id}}">{{ name }}</a></div>
  <div class="grid-item">{{ type }}</div>
  <div class="grid-item">X-{{ lastFour }}</div>
  <div class="grid-item">{{formatNumber balance style="currency" currency="USD"}}</div>
</div>
{{/each}}

{{/if}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal">
  Add Account
</button>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add new account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/account" method="post">
          <p class="input-field">
            <textarea name="account[name]" cols="30" rows="1" placeholder="title"></textarea>
            <textarea name="account[type]" cols="30" rows="1" placeholder="type"></textarea>
            <textarea name="account[lastFour]" cols="30" rows="1" placeholder="last 4 digits of acct"></textarea>
            <textarea name="account[balance]" cols="30" rows="1" placeholder="balance"></textarea>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>