<h1>transaction edit</h1>
{{transaction}}
<div class="grid-container-transactions">
  <div class="grid-item">{{ transaction.name }}</div>
  <div class="grid-item">{{ transaction.type }}</div>
  <div class="grid-item">{{ transaction.detail }}</div>
  <div class="grid-item">{{ transaction.price }}</div>
</div>