<h1>{{transaction.name}}</h1>

<div>
  <div>Type: {{ transaction.type }}</div>
  <div>Details: {{ transaction.detail }}</div>
  <div>Price: {{formatNumber transaction.price style="currency" currency="USD"}}</div>
</div>
<div class="grid-item">
  <a data-toggle="modal" data-target="#editTransactionModal" class="btn btn-secondary">
    edit
  </a>
  <form action="/transaction/{{account.id}}/{{transaction.id}}?_method=DELETE" method="post">
    <div class="grid-item"><button type="submit" class="btn btn-danger">delete</button></div>
  </form>
</div>

<div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog"
  aria-labelledby="editTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTransactionModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/transaction/{{account.id}}/{{transaction.id}}?_method=PUT" method="post" class="row">
          <div>
            <p class="input-field">
              <label for="name">Name</label>
              <input name="transaction[name]" value="{{transaction.name}}">
            </p>
          </div>
          <div>
            <p class="input-field">
              <label for="type">Type</label>
              <select name="transaction[type]">
                <option value="debit">debit</option>
                <option value="credit">credit</option>
              </select>
            </p>

          </div>
          <p class="input-field">
            <label for="detail">Detail</label>
            <textarea name="transaction[detail]" cols="30" rows="1">{{transaction.detail}}</textarea>
          </p>
          <p class="input-field">
            <label for="price">Price</label>
            <textarea name="transaction[price]" cols="30" rows="1">{{transaction.price}}</textarea>
          </p>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>